body { 
    background-color: #edede9;
}

.header { 
    display: flex;
    color: #4fc1e9;
    background-color: #ffffff;
    width: 100%;
}

.display-container {
    background-color: #4fc1e9;
    width:25rem;
    height: 25rem;
    p {
        color: black;
    }
}


.joblist-container {
    background-color: black;
    border-top: 12rem;
    p {
        color: white;
    }
}

.profile-dialog {
    background-color: white;
}